* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.correct {
  background: #60b347;
}

#app {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: auto;
  text-align: center;
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 10px auto;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

/* result */
.results {
  text-align: center;
}

.again-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}